$commonNavbarColor: #e0e0e0;

$bg-layer-0: #fbfbfb;
$bg-layer-1: #e0e0e0;
$bg-layer-2: #cfcfcf;
$bg-layer-3: #c4c4c4;
$bg-layer-4: #999999;
$bg-layer-5: #565656;

// screen vars
$xs_height: 640px;
$xs_width: 360px;

$sm_height: 1024px;
$sm_width: 768px;

$md_height: 768px;
$md_width: 1024px;

$lg_height: 960px;
$lg_width: 1440px;